body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

* {
    box-sizing: border-box;
}

a   {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

header {
    border-bottom: 1px solid #E7E9FC;
}

.body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}


/* HEADER */

.container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1158px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 15px;
}

.header-section {
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
    display:  flex;
    align-items: center;
}

.nav-link {
    color: #2E2F42;
}

.nav-list {
    display:  flex;
    gap: 40px;
    position: relative;
}

.nav-list-item {
    position: relative;
    color: #404bbf;
}

.nav-link-first::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

    display: block;
    left: 0;
    bottom: -1px;
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
    font-weight: 500;
    line-height: 24px; 
    position: absolute;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 24px; 

    padding: 24px 0;
}

.nav-link-first {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.contacts-list {
    display:  flex;
    gap: 40px;
}


/* .nav-list__item:not(:last-child) {
    padding-right: 40px;
}

.contacts-list__item:not(:last-child) {
    margin-right: 40px;
} */

.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    color: #2E2F42;
    font-size: 18px;
    line-height: 21px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    margin-right: 76px;
}

.logo-part {
    color: #4D5AE5;
}


.contacts-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;   
}

/* MAIN */

/* SECTION ORDER */

 .order-service {
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
    url(/images/office.jpg);
 }

 .main-title {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    font-style: normal;
    letter-spacing: 0.02em;

    text-align: center;
    padding: 0 0 48px 0;
    max-width: 496px;

 }

 .order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
 }

 .order-button {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.04em;
    cursor: pointer;
     
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000026;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  .order-button:hover {
     background-color: #404BBF
  }

    .order-button:focus {
    background-color: #404BBF
  }


 /* SECTION FEATURES */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
     background-color: #f4f4fd;
     border-radius: 4px;
     border: 1px solid #8e8f99;
     margin-bottom: 8px;
}

 .features {
    padding: 120px 0;   
 }

 .features-list {
    display: flex;
    gap: 24px;
 }

.features-list li:nth-child(1) {
  width: calc((100% - 72px) / 4);
}

.features-item {
    width: 264px;
}

 .features-item__title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    color: #2E2F42;

    margin-bottom: 8px;
 }

 .features-item__disc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: #434455;

 }

 /* SECTION-TEAM */

 .section-team {
    padding: 120px 0;
 }

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-team {
    background: #F4F4FD;
}

.team-title {
    margin-bottom: 72px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;

    color: #2E2F42;
}

 .team-list {
    display: flex;
    gap: 24px;
 }

 .team-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .icon-wraper {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
 }

 .icon-item {
    width: 40px;
    height: 40px;
 }

 .social-link { 
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--icon-color, #f4f4fd);
}

 .team-card__wraper {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
 }

 .team-card__img {

 }

 .team-card__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    margin-bottom: 8px;
 }

 .team-card__desc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #434455;
 }

/* SECTION PORTFOLIO */

.section-portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
}

.portfolio-title {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;

    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;

}

.portfolio-list__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover {
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-desc {
    position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-light, #f4f4fd);

  padding: 40px 32px;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .card-desc {
  transform: translateY(0%);
}

.portfolio-item__title {
    font-family: Roboto;
    font-weight:  500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;

    margin-bottom: 8px;
}

.portfolio-list__img {
    width: 360px;
    display: block;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px; 
}

.portfolio-item__wraper {
    padding: 32px 16px;
    border-top: 0;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-item__desc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

/* FOOTER */

.footer {
    background: #2E2F42;
    padding: 100px 0;

}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-box {
    margin-right: 120px;
}

.social-box {

}

.social-item {
    width: 40px;
    height: 40px;
}

.footer-logo {
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    font-size: 18px;
    line-height: 21px;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
}

.footer-desc {
    color: #F4F4FD;
    width: 264px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #ffffff);
    margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-link-fotter {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-fotter:hover,
.social-link-fotter:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: var(--icon-color, #f4f4fd);
}
